{% extends 'base.html.twig' %}

{% block title %}Liste des Pays{% endblock %}

{% block body %}
<h1> Liste des Pays</h1>
 <button type="button" class="btn btn-warning m-3"><a href="{{ path('admin_country_add') }}">Créer un nouveau Pays</a></button>

<div class="container">
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-2">

    {% for country in country_list %}
  <div class="col"><li class="list-group-item"><a href="{{ path('admin_country_read', {id : country.id}) }}">{{ country.name }}</a></li></div>
    {% endfor %}
     
   </div>
</div>

{% endblock %}